<div class="home-wrapper">
   

    <app-navbar></app-navbar>

    <app-hero></app-hero>
    <app-services-cards></app-services-cards>
    <app-president-message></app-president-message>
    <app-vision-mission-goals></app-vision-mission-goals>
    <app-faculties-slider></app-faculties-slider>
    <app-latest-news></app-latest-news>
    <app-gallery></app-gallery>
    <app-events-conferences></app-events-conferences>
    <app-statistics></app-statistics>
    <app-contact-us></app-contact-us>
    <app-footer></app-footer>
</div>
