<app-page-header ></app-page-header>
<section class="center-details-section">
  <div class="container-fluid py-5">
    
    <div class="center-details" *ngIf="center">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="section-title2">About {{center.name}}</h2>
              <p class="section-content">{{center.description}}</p>
            </div>
          </div>

          <!-- Placeholder for Services & Activities -->
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="section-title2">Services & Activities</h2>
              <ul class="services-list">
                <li *ngFor="let service of getServices(center.id)">
                  {{service}}
                </li>
              </ul>
            </div>
          </div>

          <!-- Navigation -->
          <div class="navigation-bar d-flex justify-content-between">
            <p-button 
              *ngIf="getPreviousCenterId()"
              [routerLink]="['/centers', getPreviousCenterId()]"
              label="Previous Center"
              icon="pi pi-arrow-left"
              styleClass="p-button-outlined p-button-secondary">
            </p-button>
            <p-button
              routerLink="/Center-list"
              label="Back to All Centers"
              icon="pi pi-list"
              styleClass="p-button-primary">
            </p-button>
            <p-button 
              *ngIf="getNextCenterId()"
              [routerLink]="['/centers', getNextCenterId()]"
              label="Next Center"
              icon="pi pi-arrow-right"
              iconPos="right"
              styleClass="p-button-outlined p-button-secondary">
            </p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>