
<section class="hero-section">
  <div class="hero-background">
    <div class="hero-overlay"></div>
    
  </div>

  <div class="hero-content" [class.visible]="isVisible">
    <h1 class="hero-title">
      From the heritage of our civilization, we shape minds that build glory
    </h1>
    <p class="hero-description">
      Luxor University strives to provide high-quality education, promote scientific research, and serve both the local and international communities while upholding ethical values and preserving cultural and civilizational heritage. We believe in developing students' potential and preparing them to become the future leaders in various fields.
    </p>
  </div>
</section>
